<!DOCTYPE html>
<html>

<body>
<h1> Welcome to Chitter! </h1>

<form action='/' method='post'>
  <input type='text' name='peep' placeholder='Enter your peep here....'/>
  <input type='submit' value='Add peep'/>
  </form>
  
  </body>

</html>
